article {
  margin: 195px 0;
   width: 100%;
  .article__itm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      width: 485px;
      height: 607px;
    }
    .right-side {
      width: 525px;
      .right-side--heading {
        font-family: 'Fraunces',serif;
        font-weight: 900;
        font-size: 25px;
        color: #333D4B;
        margin-bottom: 11px;
      }
      .right-side--title {
        font-family: 'Barlow',sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.5em;
      }
    }
  }
}